{% extends 'base.html' %} {% block CenterData %}
<div>
    <br></div>
<div>
    <form>
        <h1 align="center"> Registration form </h1> <br>
        <table>
            <tr>
                <td> name </td>
                <td> <input type='text'></td>
            </tr>
            <tr>
                <td> contact </td>
                <td> <input type='number'></td>
            </tr>
            <tr>
                <td> address </td>
                <td> <input type='text'></td>
            </tr>
            <tr>
                <td> <input type='submit'></td>
            </tr>
        </table>
    </form>
</div>
{% endblock %}