{% for product in pl %}
<div class="col-lg-4 col-md-6 mb-4">
    <div class="card h-100">
        <a href="#"><img class="card-img-top" src="#" alt=""></a>
        <div class="card-body">
            <h4 class="card-title">
                <a href="#">{{product.Pname}}</a>
            </h4>
            <h5>{{product.price}}</h5>
            <p class="card-text">{{product.description}}</p>


            {% if request.session.userName is none %}
            <h6> <a href='login'> Add to cart </a></h6>
            {% endif %} {% if request.session.userName is not none %}
            <h6> <a href='addtoCart?id={{ product.id }}'> Add to cart </a></h6>
            {% endif %}

        </div>
        <div class="card-footer">
            <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
        </div>
    </div>
</div>

{% endfor %}